body,p {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: sans-serif;
  font-style: inherit;
  font-weight: inherit;
}
.single-post {
  margin-bottom: 40px;
}
.single-blog-content {
  clear: both;
  text-align: left;
  margin-top: 14px;
  display: block;
  position: relative;
  padding-top: 10px;
}
.entry-title {
  display: block;
  font-size: 1.077em;
  margin: 0 0 5px;
  font-weight: 600;
  color: #000;
  overflow-wrap: break-word;
  word-wrap: break-word;
  text-align: left;
}

.entry-title a {
  color: inherit;
}

.entry-title a:hover {
  text-decoration: none;
}

.single-post-title,
.single-page-title {
  font-size: 1.846em;
  margin: 0 0 10px;
  font-weight: 400;
}

.single-page-title {
  margin-bottom: 20px;
}

.single-post .meta {
  margin: 0 0 20px
}

.single-post .meta.meta-with-title {
  border: none;
  padding: 0
}


.meta,
.entry .meta {
  list-style: none;
  margin: 0 0 10px;
  font-size: 0.923em;
  color: #777
}

.meta li,
.entry .meta li {
  float: left;
  margin: 0 20px 5px 0
}

.meta li:last-child,
.entry .meta li:last-child {
  margin-right: 0
}

.meta li .fa,
.entry .meta li .fa {
  margin-right: 8px
}

.meta a,
.entry .meta a {
  color: #777;
  text-decoration: none
}

.meta a:hover,
.entry .meta a:hover {
  color: #000;
  text-decoration: none
}

.meta time,
.entry .meta time {
  display: inline
}

.author-bio {
  position: relative;
  margin: 0 0 40px;
  background: #f7f7f7;
  border: 1px solid #eee;
  padding: 25px 25px 25px 125px;
  min-height: 94px
}

.author-bio-avatar {
  position: absolute;
  top: 20px;
  left: 20px
}

.author-bio-avatar img {
  display: block;
  height: 74px;
  width: 74px;
  -webkit-border-radius: 74px;
  -moz-border-radius: 74px;
  -ms-border-radius: 74px;
  border-radius: 74px
}

.author-bio-title {
  font-weight: 600;
  font-size: 1.077em;
  margin: 0 0 10px
}

.author-bio-description p:last-child {
  margin: 0
}

.author-bio-social {
  margin-top: 15px
}

.author-bio-social a {
  display: block;
  float: left;
  margin-right: 4px
}
